@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.font-outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

.text-zprimary {
    color: #b03335;
}
.bg-zprimary {
    background-color: #b03335;
}

.btn-zprimary {
    color: #fff;
    background-color: #b03335;
    border-color: #b03335;
}
.btn-zprimary:hover {
    background-color: #a02a2d;
    border-color: #a02a2d;
}

.border-zprimary {
    border-color: #b03335;
}
.border-zprimary:hover {
    border-color: #a02a2d;
    background-color: #a02a2d;
    color: #fff;
}
.border-zprimary-tab{
    border-color: #b03335;
}
body{
    background-color: #F0F0F0;
}
.bg-base{
    background-color: #F0F0F0;
}
.bg-label{
    background-color: #ECE7E7;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.active{
    color: #a02a2d !important;
}
.pag:hover{
    background-color: #b03335 !important;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}